body{
    margin: 0;
    padding: 0;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 { 
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}

.container { 
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatrice { 
    height: 80vh;
    width: 27vw;
    border: 5px black solid;
    background-color: grey;
}

#ecran { 
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 60px;
    font-family: monospace;
    letter-spacing: .5px;
    border: 5px solid black;
    margin: 50px;
    height: 80px;
}



.numbers { 
    margin-left: 2vh;
    margin-top: 3vh;
}

.numbers * {
    margin-top: 30px;
}

.operator { 
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:right;
    margin-top: 5vh;
    margin-right: 1vw;
}

.buttonsCollection { 
    display: flex;
    width: 100%;

}

button { 
    height: 8vh;
    width: 4vw;
    margin: 10px;
    border-radius: 40%;
}

button#delete {
    margin-top: 20px;
    width: 200px;
    margin: 10px;
}

button#iresult { 
    width: 150px;
} 

