body{
    margin: 0;
    padding: 0;
}

.box { 
    display: flex;
    justify-content: center;
}


.calculette{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 20vw;
    height: 80vh;
    border: solid black 2px;
    margin: 10px;
}

.ecran{
    background-color: aqua;
    grid-column: 2/12;
    grid-row: 2/3;
}



.ecran p {
    text-align: center;
}



/* Boutons */ 

.btn { 
    border-style: solid;
    border-radius: 10%/50%;
    cursor: pointer;
}

.btn p{
    font-size: 140%;
    font-weight: 600;
    text-align: center;
}

#i1 {
    grid-column: 2;
    grid-row: 9;
}

#i2 { 
    grid-column: 4;
    grid-row: 9;
}

#i3 { 
    grid-column: 6;
    grid-row: 9;
}

#i4 { 
    grid-column: 2;
    grid-row: 7;
}

#i5 { 
    grid-column: 4;
    grid-row: 7;
}

#i6 { 
    grid-column: 6;
    grid-row: 7;
}

#i7{
    grid-column: 2;
    grid-row: 5;
}
#i8 {
    grid-column: 4;
    grid-row: 5;
}

#i9 {
    grid-column: 6;
    grid-row: 5;
}

#i0 { 
    grid-column: 2;
    grid-row: 11;
}

#virgule { 
    grid-column: 4;
    grid-row: 11;
}

#delete { 
    grid-column: 6;
    grid-row: 11;
}

#less { 
    grid-column: 10;
    grid-row: 5;
}

#more {
    grid-column: 8;
    grid-row: 5;
}

#divise { 
    grid-column: 8;
    grid-row: 7;
}

#multiplication { 
    grid-column: 8;
    grid-row: 9;
}

#result { 
    grid-column: 8;
    grid-row: 11;
}